
  .form-container {
    margin-left: 200px;
    background-color: #8a4b6d;
    padding: 20px;
    color: #f0c542;
    border-radius: 15px;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: space-between;
  }
  
  .left-column {
    width: 48%;
  }
  
  .right-column{
    margin-right: 40px;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #f0c542;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a86d8a;
    color: #ffffff;
  }
  
  .form-group textarea {
    height: 100px;
  }
  
  .form-group input[type="file"] {
    padding: 5px;
  }
  












  