.chat-widget {
    margin-top: 15px;
    position: absolute;
    top: 60px; 
    right: 0;
    width: 500px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden; /* Hide any overflow */
  }
  
  .chat-list {
    height: 100%;
    overflow-y: auto; /* Ensure vertical scrolling only */
  }
  
  .chat-window {
    height: 100%;
    padding: 10px;
    overflow-y: auto; /* Ensure vertical scrolling only */
  }
  
  .chat-window .input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  
  .chat-window .input-container .media-input {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
  }
  
  .chat-window .input-container .text-input {
    flex: 2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-right: 10px;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  
  .chat-window .input-container .send-button {
    margin-left: 10px;
  }
  
  /* Avatar styles */
  .chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .chat-item .rce-avatar {
    margin-right: 10px;
  }
  
  .chat-item .rce-avatar img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Rounded shape for avatars */
  }
  