.friendwrap11{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:rgba(35, 3, 99, 0.452);
  min-height: 600px; 
  width: 100%;  
  }
  .card-cat3 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 122px;
    margin-left: 680px;
    color:#ffffff;
    font-weight: bold;
  }
  .card-row3 {
    display: flex;
    flex-wrap: wrap; /* Ensure the cards wrap to the next line */
    margin-left: 180px;
    gap: 20px; /* Adjust the gap between cards */
    margin-top: 100px;
  }
  
  .card-row3 > div {
    flex: 0 1 calc(16.66% - 20px); /* 16.66% ensures six cards per row, adjust the subtraction to match gap */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  