.mainCardstore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.gameCardstore {
  width: 900px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
}

.name-studioStore {
  margin: 0;
}

.name-studioStore p {
  margin: 0;
  color: #c52424;
}

.name-studioStore .gameNameStore {
  font-size: 25px;
  color: black;
}

.name-studioStore .studioNameStore {
  font-size: 15px;
  color: black;
}

.playButtonStore {
  align-self: flex-end;
}

.playButtonStore button {
  width: 90px;
  height: 40px;
  border: none;
  background-color: rgba(255, 255, 255);
  cursor: pointer;
  border-radius: 15px;
}

.phrase {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
}

.gallery {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.cardStore {
  width: 250px;
  height: 150px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 10px;
}

.Trailer {
  margin-top: 20px;
  width: 600px;
  height: 300px;
  margin-bottom: 20px;
  
}

.rowStore {
  max-width: 700px;
  display: flex;
  margin-bottom: 20px;
}

.coulmn1 {
  flex: 0 0 calc(50% - 50px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-columnStore {
  /* flex: 1;  */
  display: flex;
  flex-direction: column;
  gap: 20px; 
  margin-left: 130px;
}

.system-req,
.price {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure full width within the container */
}

.discriptionCardStore,
.infoStore {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   max-width: 300px; /* Ensure full width within the container */
   overflow: hidden;
}

.discStore {
  height: auto; /* Allow height to expand based on content */
}

.disc-cardStore p {
  font-size: 17px;
}

.informationStore,
.Requriments,
.descriptionStore {
  font-weight: bold;
  margin-bottom: 10px;
}

.req-card ul,
.price-card ul,
.info-cardStore ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 13px;
}

.req-card ul li,
.price-card ul li,
.info-cardStore ul li {
  margin-bottom: 10px;
}

.ReviewStore {
  width: 500px;
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.tournamentStore {
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px; /* Add space between each review */
}

.ReviewStore .toursStore {
  display: flex; /* Align items horizontally */
  align-items: center; /* Center items vertically */
  gap: 10px; /* Space between image and text */
}

.ReviewStore .toursStore .imageStore {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%; /* Make the image circular */
  margin-right: 10px;
}

.submitStore {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.rateStore {
  display: flex;
  gap: 10px;
}

button.upStore,
button.downStore {
  color: #fff;
  width: 50px;
  height: 40px;
  border: none;
  padding-right: 20px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 15px;
  flex: 1;
  margin-right: 10px;
}
