.outsidehome {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./assets/wallpaperspace.jpg'); /* Set the background image for the entire wrapper */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100vw;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.homehome {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.phrase {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add a shadow for better readability */
    margin-bottom: 10px; /* Space between the phrase and the button */
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
