/* LandingPage.css */
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');

/* General styles */
.landignwrap {
  margin: 0;
  font-family: 'ICA Rubrik', sans-serif;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
  position: relative; /* Ensure relative positioning */
}

#section0 {
  background-image: url('./assets/wall1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 {
  background-color: #4a4a4a;
}

#section3 {
  background-color: #4a4a4a;
  position: relative; /* Ensure relative positioning for absolute child elements */
}

#section3 img {
  width: 50%; /* Adjust as needed */
  position: absolute;
  top: 60%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the image */
  z-index: 2; /* Ensure it overlaps the text */
}

#section3 h1 {
  z-index: 1; /* Ensure the text is beneath the image */
  position: relative; /* Keep text positioned properly */
  font-family: 'ICA Rubrik';
  font-size: 100px;
}

#section3 h1:first-of-type {
  top: -20%; /* Adjust as needed */
}

#section3 h1.aa {
  top: -0%; /* Adjust as needed to position below the first h1 */
}

#section2 {
  background-color: #555;
}

#section4 {
  background-color: #999;
}

/* Split section styles */
.split-section {
  display: flex;
  height: 100vh;
  position: relative; /* Ensure relative positioning */
}

.split-left,
.split-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  opacity: 0.5; /* Lowered opacity */
}

.split-left:before,
.split-right:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px; /* Width of the barrier */
  background-color: white; /* Color of the barrier */
}

.split-left:hover,
.split-right:hover {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1; /* Full opacity on hover */
}

.split-left .split-text {
  left: 20px;
}

.split-right .split-text {
  right: 20px;
}

.split-text {
  position: absolute;
  font-size: 2em;
  color: white;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s;
}
