@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');

/* General styles */
.landignwrap {
  margin: 0;
  font-family: 'ICA Rubrik', sans-serif;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
  position: relative;
}

#section0 {
  background-image: url('./assets/wall1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#section1, #section3, #section2, #section4 {
  background-color: #4a4a4a;
}

#section3 img {
  width: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#section3 h1 {
  z-index: 1;
  position: relative;
  font-family: 'ICA Rubrik';
  font-size: 100px;
}

#section3 h1:first-of-type {
  top: -20%;
}

#section3 h1.aa {
  top: 0%;
}

