.header-design{
  margin-top: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 80px;
  z-index: 1000; 
  }
  h3{
   margin-top: 15px;
  }
  .Logo{
    font-size: 20px;
    margin-left: 30px;
    color: #ffffff;
   
  }
  .greetings{
    font-size: 20px;
    width: 150px;
    margin-left: 140px;
    color: #ffffff;
  }
  
  .options{
    margin-top: 30px;
    margin-left: 600px;
    display: flex;
    flex-direction: row;
  }
  
  
  .chat-widget {
    position: absolute;
    top: 60px; /* Adjust based on your header height */
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .chat-list, .chat-window {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
  }
  
  .chat-window button {
    margin-bottom: 10px;
  }
  