.header-design{
  margin-top: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 80px;
  z-index: 1000; 
  }
  .Logo{
    font-size: 20px;
    margin-left: 30px;
    color: #ffffff;
   
  }
  .greetings{
    font-size: 20px;
    width: 150px;
    margin-left: 140px;
    color: #ffffff;
  }
  
  .options{
    margin-top: 30px;
    margin-left: 600px;
    display: flex;
    flex-direction: row;
  }
  
  .profile{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url('./images/shitpost.jpg');
    background-size: cover;
    margin-top: 20px;
    margin-left: 50px;
    
  }