.centeringTT {
    margin-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Profile-container {
    width: 100%;
   display: flex;
   flex-direction: column;
    gap: 20px; 
    color: #000000;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.rowpro{
    display: flex;
   flex-direction: row;
}

.profilePage {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 230px;
    width: 600px;
    margin-bottom: 20px;
}

.profile-pic-container {
    display: flex;
    flex-direction: column; /* Stack profile picture and edit button vertically */
    align-items: center; /* Center items horizontally */
    margin-right: 20px; /* Add space between profile-pic-container and profile-content-container */
}

.profile-pic {
    width: 70px; /* Adjust width for better visibility */
    height: 70px;
    border-radius: 5px;
   
}

.edit-btn {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    /* margin-top: 10px;  */
}

.profile-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

h2 {
    font-size: 20px; 
}

/* .games-friends, .profileinfo {
    margin-top: 10px; 
} */

.games101{
    margin-right: 15px;
}
.games102{
    margin-right: 15px;
    border: right 1px; color: #000;
}

.profileinfo{
    margin-top: 30px;
    margin-left: 110px;
}

.profileinfo p, .icons span {
    margin: 5px 0;
}

.icons {
    margin-top: 10px; /* Add space above icons */
}

.games-friends {
    margin-left: 70px;
    display: flex;
    padding: 20px;
    width: 100%;
}

.stats {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.profile-content {
   
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    margin-left: 130px;
}

.profile-content .most-played, .profile-content .artwork {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
/* .artwork{margin-left: 40px;} */

.profile-content img {
    width: 100%;
    border-radius: 10px;
}

.friends-communities {
   
    display: flex;
    
    gap: 20px;
    margin-left: 130px;
}

.friends, .communities {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.friend-list, .community-list {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.friend-list img, .community-list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
