
.card-cat{
    margin-top: 100px;
    margin-left: 140px;
    color: white;
  }

  .gg1{
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .card-row{
    margin-left: 140px;
  }


  /* .popular{
    display: flex;
    flex-direction: row;
    background: url('./images/witcher3.jpg') 100% / cover no-repeat;
  } */