
.storeWrapper{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  height: 100%; 
  width: 100%;  
}

.card-cat{
    margin-top: 100px;
    margin-left: 140px;
    color: white;
  }

.card-wrap{
  margin-top: 300px;
}

  .card-row{
    margin-left: 140px;
    margin-top: 20px;
    gap: 50px;
  }


  /* .popular{
    display: flex;
    flex-direction: row;
    background: url('./images/witcher3.jpg') 100% / cover no-repeat;
  } */

  .glitch {
    font-size: 8.125em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    letter-spacing: 5px;
  }
  
  .glitch::before,
  .glitch::after {
    display: block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  }
  
  .glitch::after {
    color: #f0f;
    z-index: -2;
  }
  
  .glitch::before {
    color: #0ff;
    z-index: -1;
  }
  
  @media only screen and (max-width: 400px) {
    .glitch {
      font-size: 3em;
    }
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-5px, 5px);
    }
    40% {
      transform: translate(-5px, -5px);
    }
    60% {
      transform: translate(5px, 5px);
    }
    80% {
      transform: translate(5px, -5px);
    }
    100% {
      transform: translate(0);
    }
  }
  